<div class="mt-2">
  <form>
    <div class="form-group">
      <div class="input-group">
        <%= text_field_tag :message_input, "", class: "form-control",
          placeholder: "Enter message" %>
      </div>
    </div>
  </form>
</div>
